<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.nexii.lead.VPsales"/>
      <class name="com.nexii.lead.AppTest"/>
      <class name="com.nexii.lead.BDM"/>
      <class name="com.nexii.lead.Researcher"/>
      <class name="com.nexii.lead.BDE"/>
      <class name="com.nexii.lead.Administrator"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
